$white: #ffffff;
$black: #000000;

$gray-50: #f4f6fa;
$gray-500: #626c7f;

$blue-50: #ebf0ff;
$blue-100: #edf1f9;
$blue-300: #abc1e1;
$blue-500: #306aff;
$blue-850: #3b4d66;
$blue-900: #313e51;
$blue-950: #2d3949;

$green-100: #e0fdef;
$green-500: #2fd887;

$purple-100: #f6e7ff;
$purple-600: #a729f5;

$orange-50: #fff5ed;
$orange-400: #ff7e35;

$red-500: #ee5454;
