@import "colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: $gray-50;
  background-image: url(assets/images/pattern-background-desktop-light.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gridContainer {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 10px;
  padding-top: 5rem;
  margin: 0 8rem 0 8rem;
}

.landing {
  display: none;
}

.gridItem {
  outline: 2px solid black;
  width: 100px;
  height: 200px;
}

.gridOne {
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: auto;
  grid-column: 1 / span 2;
}

.gridTwo {
  outline: none;
  width: auto;
  height: 300px;
}

.gridThree {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  width: auto;
  height: 500px;
}

.optionDiv {
  padding-left: 1rem;
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90px;
  width: 500px;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

.optionText {
  color: $blue-900;
  font-weight: 500;
  font-size: 1.5rem;
}

.html {
  background-color: $orange-50;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.htmlIcon {
  width: 40px;
}

.css {
  @extend .html;
  background-color: $green-100;
}

.cssIcon {
  @extend .htmlIcon;
}

.javasript {
  @extend .html;
  background-color: $blue-50;
}

.javasriptIcon {
  @extend .htmlIcon;
}

.accessibility {
  @extend .html;
  background-color: $purple-100;
}

.accessibilityIcon {
  @extend .htmlIcon;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $purple-600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  top: 3px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.moonImage {
  width: 25px;
}

.sunImage {
  width: 25px;
}

.welcomeText {
  font-size: 4rem;
  font-weight: 100;
  color: $blue-900;
  line-height: 110%;
  margin-bottom: 2.5rem;
}

.highlitedText {
  font-size: 4.1rem;
  font-weight: 450;
}

.secondaryText {
  font-size: 1rem;
  font-weight: 400;
  color: $gray-500;
}

.active {
  display: block;
}

.unactive {
  display: none;
}

.htmlQuestions {
  display: none;
}

#questionCount {
  color: $gray-500;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 350;
  margin-bottom: 1.5rem;
}

.question-title {
  color: $blue-900;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 16rem;
}

.htmlDiv {
  @extend .gridContainer;
}

.gridItemHTML {
  @extend .gridItem;
}

.gridHtmlOne {
  @extend .gridOne;
  justify-content: space-between;
}

.optionType {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5rem;
}

.settings {
  display: flex;
  gap: 10px;
  margin-right: 5rem;
}

.gridHtmlTwo {
  @extend .gridTwo;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.girdHTMLSectionOne {
  height: 300px;
}

.gridHtmlThree {
  @extend .gridThree;
}

.optionContainer {
  background-color: $white;
  height: 80px;
  width: 450px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.active {
  outline: 2px solid $purple-600;
}

#optionSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-100;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: $gray-500;
}

.answerText {
  font-size: 1.2rem;
  color: $blue-900;
  font-weight: 450;
}

.confirmQuestion {
  height: 63px;
  width: 470px;
  border-radius: 15px;
  border: none;
  background-color: $purple-600;
  color: $white;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}

.nextQuestion {
  @extend .confirmQuestion;
  display: none;
}

.disableButton {
  opacity: 0.6;
  cursor: not-allowed;
}

.correctAnswer {
  outline: 2px solid $green-500;
}

.wrongAnswer {
  outline: 2px solid $red-500;
}

.sliderContainer {
  width: 80%;
  display: flex;
  padding: 6px;
  background-color: $white;
  height: 10px;
  border-radius: 10px;
  align-items: center;
}

.sliderProgress {
  -webkit-appearance: none;
  appearance: none;
  width: var(--value, 0%);
  max-width: 100%;
  height: 10px;
  opacity: 0.7;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease, opacity 0.2s;
  border-radius: 12px;
  outline: none;
  background: $purple-600;
}

.sliderProgress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.sliderProgress::-moz-range-thumb {
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
  background: transparent;
}

.sliderProgress:hover {
  opacity: 1;
}

.scorePage {
  outline: 2px solid black;
  display: block;
  height: 100vh;
  width: 100%;
}

.scorePageGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 10rem;
}

.gridScore {
  outline: 2px solid black;
}

.scoreOne {
  outline: none;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.scoreThree {
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 7rem;
}

.scoreTwo {
  outline: none;
}

.scoreDiv {
  width: 400px;
  height: 260px;
  background-color: $white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playAgain {
  @extend .confirmQuestion;
  width: 400px;
}

.scoreNumber {
  font-size: 7rem;
  font-weight: 600;
  color: $blue-900;
}

.scoreSecondTitle {
  font-size: 20px;
  color: $blue-900;
}

// #questionCountScore {
//   @extend .questionCount;
// }

.welcomeTextScore {
  font-size: 3.2rem;
  font-weight: 100;
  color: $blue-900;
  line-height: 110%;
  margin-bottom: 2.5rem;
  margin-left: 5rem;
}
